<!-- partials are parts of ejs template that are repetitive and can be replaced with a singular function -->

<nav>
  <h1>navigation</h1>
  <ul>
    <li><a href="/">first part</a></li>
    <li><a href="/about">middle part</a></li>
    <li><a href="/finale">end part</a></li>
    <li><a href="/members">members</a></li>
    <li><a href="/songs">songs</a></li>
    <li><a href="/songinfo">more song info</a></li>
    <li><a href="/songsearch">song search</a></li>
    <li><a href="/youtube">youtube bits</a></li>
    <li><a href="/faves">favourites</a></li>
    <li><a href="/diceroll">lucky draw</a></li>
  </ul>
</nav>