<nav>
    <h1>navigation</h1>
    <ul>
        <li><a href="/">first part</a></li>
        <li><a href="/about">middle part</a></li>
        <li><a href="/finale">end part</a></li>
        <li><a href="/diceroll">lucky draw</a></li>
    </ul>
</nav>

<body>Too late, my time has come
    <br>Sends shivers down my spine, body's aching all the time
    <br>Goodbye, everybody, I've got to go
    <br>Gotta leave you all behind and face the truth
    <br>Mama, ooh (any way the wind blows)
    <br>I don't wanna die
    <br>I sometimes wish I'd never been born at all</body>