<%- include('./partials/nav.ejs')%>
<br />
<br />
<br />
<br />
<center>
  <h1>Lucky Draw</h1>
  <h3>Test your luck!</h3>
  <p>... and you have rolled a <%= diceroll %></p>
</center>
<br />
<br />
<br />
<br />
<% if (diceroll === 6) { %>
<img src="/firefirefire.png" alt="you're rockin it!" width="100%">
<% } %>