<nav>
    <h1>navigation</h1>
    <ul>
        <li><a href="/">first part</a></li>
        <li><a href="/about">middle part</a></li>
        <li><a href="/finale">end part</a></li>
        <li><a href="/diceroll">lucky draw</a></li>
    </ul>
</nav>
<br>
<br>
<br>
<br>
<center>
<h1>Lucky Draw</h1>
<h3>Test your luck!</h3>
<%= diceroll %>
</center>

