<%- include('./partials/nav.ejs')%>
<% const {food, drink, game} = favsObj %>
<br />
<br />
<br />
<br />
<center>
  <form action="/faves" method="GET">
    <input type="text" name="food" placeholder="fave food" />
    <input type="text" name="drink" placeholder="fave drink" />
    <input type="text" name="game" placeholder="fave game" />
    <button type="submit">submit</button>
  </form>
</center>
<br />
<br />you said you liked <%= food%>, <%= drink%> and <%= game%>!

<!-- http://localhost:3000/faves?food=ramen&drink=beer&game=cattan -->