<nav>
    <h1>navigation</h1>
    <ul>
        <li><a href="/">first part</a></li>
        <li><a href="/about">middle part</a></li>
        <li><a href="/finale">end part</a></li>
        <li><a href="/diceroll">lucky draw</a></li>
    </ul>
</nav>

<body>Oh, mamma mia, mamma mia
    <br>Mamma mia, let me go
    <br>Beelzebub has a devil put aside for me, for me, for me
    <br>So you think you can stone me and spit in my eye?
    <br>So you think you can love me and leave me to die?
    <br>Oh, baby, can't do this to me, baby
    <br>Just gotta get out, just gotta get right outta here
    <br>Ooh
    <br>Ooh, yeah, ooh, yeah
    <br>Nothing really matters, anyone can see
    <br>Nothing really matters
    <br>Nothing really matters to me</body>